// -----------------------------------------------------------------------------
// @font-face declarations
// -----------------------------------------------------------------------------

@font-face {
  font-family: "Trade Gothic LT Com Bold";
  src: url("../fonts/0d8d136677301b8182c4a5ae3125a35e.eot"); /* IE9*/
  src: url("../fonts/0d8d136677301b8182c4a5ae3125a35e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/0d8d136677301b8182c4a5ae3125a35e.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/0d8d136677301b8182c4a5ae3125a35e.woff") format("woff"), /* chrome、firefox */
  url("../fonts/0d8d136677301b8182c4a5ae3125a35e.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/0d8d136677301b8182c4a5ae3125a35e.svg#Trade Gothic LT Com Bold") format("svg"); /* iOS 4.1- */
}
