<footer class="footer">

    <div class="site-logo">
        <img src="dist/images/logo-feel-food-line-black2.svg" alt="Feel Food">
    </div>

    <nav class="site-main-menu">
        <ul>
            <li><a class="<!-- @@var entrClass -->" href="index.html">Entreprises</a></li>
            <li><a class="<!-- @@var restoClass -->" href="restaurateurs.html">Restaurateurs</a></li>
            <li><a class="<!-- @@var aboutClass -->" href="a-propos.html">A propos</a></li>
        </ul>
    </nav>

    <div class="site-secondary-menu">
        <ul>
            <li><a class="contact" href="mailto:yann@feelfood.fr">Contact</a></li>
            <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/company/10529046">LinkedIn</a></li>
            <li><a class="facebook" target="_blank" href="https://www.facebook.com/feelfoodfr/">Facebook</a></li>
        </ul>
    </div>

</footer>