<header class="header" id="header">

    <div class="container">

        <div class="site-logo">
            <h1>
                <img src="dist/images/logo-feel-food-black1.svg" alt="Feel Food">
            </h1>
        </div>

        <nav class="site-main-menu">
            <ul>
                <li><a class="<!-- @@var entrClass -->" href="index.html">Entreprises</a></li>
                <li><a class="<!-- @@var restoClass -->" href="restaurateurs.html">Restaurateurs</a></li>
                <li><a class="<!-- @@var aboutClass -->" href="a-propos.html">A propos</a></li>
            </ul>
        </nav>

        <a href="<!-- @@var mobileHeaderCallToActionAction -->" class="button"><!-- @@var mobileHeaderCallToAction --></a>

    </div>

</header>