// -----------------------------------------------------------------------------
// Buttons
// use as @extend
// -----------------------------------------------------------------------------

%button {

  // Basic button
  &--base {
    @extend %font-std;
    @include pxtorem(9px, 8px);
    display: inline-block;
    padding: ($block-padder-medium * 1.5) ($block-padder);
    border: 0;
    border-radius: 6px;
    color: get-color('text', 'base');
    letter-spacing: 0.025em;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-appearance: none;

    .no-fouc & {
      transition: all .2s ease-in-out;
    }

    @include breakpoint('medium') {
      @include pxtorem(13px, 12px);
      padding: $block-padder ($block-padder-medium * 3);
    }
  }

  // Border buttons
  &--border {
    @extend %button--base;
    border: 1px solid;
    padding: (($block-padder-medium * 1.5) - 1px) ($block-padder);

    @include breakpoint('medium') {
      padding: ($block-padder - 1px) ($block-padder-medium * 3);
    }
  }

  &--border--std {
    @extend %button--border;
    color: get-color('text', 'base');

    &:hover {
      border-color: get-color('block', 'base-reversed');
      color: get-color('text', 'base-reversed');
      background-color: get-color('block', 'base-reversed');
    }
  }

  &--border--reversed {
    @extend %button--border;
    color: get-color('text', 'base-reversed');

    &:hover {
      border-color: get-color('block', 'base');
      color: get-color('text', 'base');
      background-color: get-color('block', 'base');
    }
  }

  &--border--primary {
    @extend %button--border;
    color: get-color('theme', 'primary');

    &:hover {
      border-color: get-color('theme', 'primary');
      color: get-color('text', 'base-reversed');
      background-color: get-color('theme', 'primary');
    }
  }

  // Gradient buttons

  &--gradient {
    @extend %button--base;
    color: get-color('text', 'base-reversed');
  }

  &--gradient--std {
    @extend %button--gradient;
    background: $gradient-std;

    &:hover {
      background: $gradient-primary;
    }
  }

  &--gradient--reversed {
    @extend %button--gradient;
    background: $gradient-reversed;

    &:hover {
      background: $gradient-primary;
    }
  }
}
