// -----------------------------------------------------------------------------
// Site secondary menu
// -----------------------------------------------------------------------------

.site-secondary-menu {

  ul {

    li {
      display: inline-block;
    }

    a {
      @extend %button--border--reversed;
      color: #6a696a;
      padding: $block-padder-medium $block-padder;

      @include breakpoint('medium') {
        padding: $block-padder-medium $block-padder;
      }

      &.current {
        color: #464546;
      }
    }
  }
}
