// -----------------------------------------------------------------------------
// Site logo
// -----------------------------------------------------------------------------

.site-logo {

  @include when-inside('.header') {
    img {
      width: 38px;
      height: 38px;
    }

    @include breakpoint('medium') {
      img {
        width: 60px;
        height: 60px;
      }
    }
  }

  @include when-inside('.footer') {
    width: 53px;
    opacity: 0.3;

    @include breakpoint('medium') {
      width: 63px;
    }
  }

  a {
    display: block;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
