// -----------------------------------------------------------------------------
// Strates
// use as @extend
// -----------------------------------------------------------------------------

%strate {

  &-std {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: ($block-padder-larger) 0;
    min-height: 620px;

    @include breakpoint('medium') {
      padding: 0;
      //min-height: 680px;
    }

    @include breakpoint('large') {
      min-height: 770px;
    }
  }
}
