// -----------------------------------------------------------------------------
// Text styles
// use as @extend
// -----------------------------------------------------------------------------

%title-highlight {
  @extend %font-heading;
  @extend %font-size-highlight;
  position: relative;
  margin-bottom: $text-margin-large;
  padding-bottom: $block-padder-medium;
  line-height: 31px;
  letter-spacing: -0.025em;
  text-transform: uppercase;

  span {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: repeat-y center top/100% 31px;
  }

  @include breakpoint('medium') {
    line-height: 39px;

    &::after {
      top: 4px;
      background-size: 100% 39px;
    }
  }

  @include breakpoint('large') {
    line-height: 55px;

    &::after {
      top: 5px;
      background-size: 100% 55px;
    }
  }
}

%title-medium {
  @extend %font-heading;
  @extend %font-size-medium;
  margin-bottom: $text-margin-large;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}

%text-std {
  @extend %font-std;
  @extend %font-size-std;
  letter-spacing: 0.025em;
}