// -----------------------------------------------------------------------------
// Layout
// Macro components
// -----------------------------------------------------------------------------

@import 'header';
@import 'footer';
@import 'block-introduction';
@import 'block-about';