// -----------------------------------------------------------------------------
// Layout
// Macro components
// -----------------------------------------------------------------------------

@import 'header';
@import 'footer';
@import 'block-introduction';
@import 'block-about';
@import 'block-advantages';
@import 'block-app';
@import 'block-actions';
@import 'form-contact';