// -----------------------------------------------------------------------------
// Block about
// -----------------------------------------------------------------------------

.block-about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 635px;
  background: url(../images/backgrounds/02_FeelFood_6_ENTREPRISE_bloc1-adoptez2.jpg) no-repeat center/cover;

  @include breakpoint('medium') {
    height: 900px;
  }

  &--content {
    @extend %container;
  }

  &--title,
  &--subtitle,
  &--desc {
    padding-right: ($block-padder-medium * 1.5);
    padding-left: ($block-padder-medium * 1.5);

    @include breakpoint('medium') {
      padding-right: $block-padder;
      padding-left: $block-padder;
    }
  }

  &--title {
    @extend %title-highlight;
    color: get-color('text', 'base-reversed');
    max-width: 195px;

    &::after {
      background-image: url(../images/backgrounds/title-highlight-about.png);
    }

    @include breakpoint('medium') {
      max-width: 310px;
    }
  }

  &--subtitle {
    @extend %title-medium;
    max-width: 85%;
    color: get-color('theme', 'tertiary');

    @include breakpoint('medium') {
      width: 390px;
    }

    @include breakpoint('large') {
      margin-bottom: 0;
      max-width: 50%;
    }
  }

  &--desc {
    @extend %text-std;
    color: get-color('text', 'base-reversed');
    text-align: center;
    padding-left: $block-padder-larger;
    padding-right: $block-padder-larger;

    @include breakpoint('medium') {
      float: right;
      max-width: 70%;
    }

    @include breakpoint('large') {
      max-width: 50%;
      margin-top: (- $block-margin-before * 4);
    }
  }
}
