// -----------------------------------------------------------------------------
// Block introduction
// -----------------------------------------------------------------------------

$name: "block-introduction";
$bg-color: get-color('block', 'base-reversed');

.#{$name} {
  @extend %strate-std;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/backgrounds/01_FeelFood_6_ENTREPRISE_homepa--mobile.jpg) no-repeat center $bg-color;
  background-size: cover;

  @include breakpoint('medium') {
    background-image: url(../images/backgrounds/01_FeelFood_6_ENTREPRISE_homepa.jpg);
  }

  &--content {
    @extend %container;
    max-width: 275px;
    text-align: center;

    @include breakpoint('medium') {
      max-width: 350px;
    }

    @include breakpoint('large') {
      max-width: 465px;
    }
  }

  &--title {
    @extend %title-highlight;
    color: get-color('text', 'base-reversed');

    &::after {
      background-image: url(../images/backgrounds/title-highlight-introduction-entreprise.png);
    }
  }

  &--desc {
    @extend %text-std;
    margin: 0 auto;
    max-width: 80%;
    color: get-color('text', 'base-reversed');

    @include breakpoint('large') {
      max-width: 60%;
    }
  }

  &--action {
    @extend %button--border--reversed;
    margin-top: $text-margin-large;
    display: inline-block;

    @include breakpoint('large') {
      display: none;
    }
  }

  // Page restaurateurs
  @include when-inside('.restaurateurs') {
    background-image: url(../images/backgrounds/08_FeelFood_6_RESTAURATEUR_homepa2--mobile.jpg);

    @include breakpoint('medium') {
      background-image: url(../images/backgrounds/08_FeelFood_6_RESTAURATEUR_homepa2.jpg);
    }

    .#{$name}--content {
      max-width: 320px;

      @include breakpoint('medium') {
        max-width: 575px;
      }
    }

    .#{$name}--title {

      &::after {
        background-image: url(../images/backgrounds/title-highlight-introduction-restaurateurs.png);
      }
    }
  }

  // Page à propos
  @include when-inside('.aPropos') {
    background-image: url(../images/backgrounds/14_FeelFood_6_ABOUT_homepa--mobile.jpg);

    @include breakpoint('medium') {
      background-image: url(../images/backgrounds/14_FeelFood_6_ABOUT_homepa.jpg);
    }

    .#{$name}--content {
      max-width: 250px;

      @include breakpoint('medium') {
        max-width: 435px;
      }
    }

    .#{$name}--desc {
      max-width: 95%;
    }
  }
}
