// -----------------------------------------------------------------------------
// Block introduction
// -----------------------------------------------------------------------------

$bg-color: get-color('block', 'base-reversed');

.block-introduction {
  @extend %strate-std;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/backgrounds/01_FeelFood_6_ENTREPRISE_homepa--mobile.jpg) no-repeat center $bg-color;
  background-size: cover;

  @include breakpoint('medium') {
    background-image: url(../images/backgrounds/01_FeelFood_6_ENTREPRISE_homepa.jpg);
  }

  &--content {
    @extend %container;
    max-width: 240px;
    text-align: center;

    @include breakpoint('medium') {
      max-width: 410px;
    }

    @include breakpoint('large') {
      max-width: 500px;
    }
  }

  &--title {
    @extend %title-highlight;
    color: get-color('text', 'base-reversed');

    &::after {
      background-image: url(../images/backgrounds/title-highlight-introduction-entreprise.png);
    }
  }
  
  &--desc {
    @extend %text-std;
    color: get-color('text', 'base-reversed');

    @include breakpoint('medium') {
      padding: 0 $block-padder-larger;
    }
  }

  &--action {
    @extend %button--border--reversed;
    margin-top: $text-margin-large;
    display: inline-block;

    @include breakpoint('large') {
      display: none;
    }
  }

  // Page restaurateurs
  @include when-inside('.restaurateurs') {
    background-image: url(../images/backgrounds/08_FeelFood_6_RESTAURATEUR_homepa2--mobile.jpg);

    @include breakpoint('medium') {
      background-image: url(../images/backgrounds/08_FeelFood_6_RESTAURATEUR_homepa2.jpg);
    }

    .block-introduction--content {

      @include breakpointBetween('small', 'medium') {
        max-width: 320px;
      }
    }

    .block-introduction--title {

      &::after {
        background-image: url(../images/backgrounds/title-highlight-introduction-restaurateurs.png);
      }
    }

    .block-introduction--desc {

      @include breakpointBetween('small', 'medium') {
        max-width: 240px;
        margin: 0 auto;
      }
    }
  }
}
