// -----------------------------------------------------------------------------
// Block about
// -----------------------------------------------------------------------------

$bg-color: #ab653f;

.block-about {
  @extend %strate-std;
  background: url(../images/backgrounds/02_FeelFood_6_ENTREPRISE_bloc1-adoptez2--mobile.jpg) no-repeat center $bg-color;
  background-size: cover;

  @include breakpoint('medium') {
    background-image: url(../images/backgrounds/02_FeelFood_6_ENTREPRISE_bloc1-adoptez2.jpg);
  }

  &--content {
    @extend %container;
  }

  &--title,
  &--subtitle,
  &--desc {
    padding-right: ($block-padder-medium * 1.5);
    padding-left: ($block-padder-medium * 1.5);

    @include breakpoint('medium') {
      padding-right: $block-padder;
      padding-left: $block-padder;
    }
  }

  &--title {
    @extend %title-highlight;
    max-width: 194px;
    color: get-color('text', 'base-reversed');

    &::after {
      background-image: url(../images/backgrounds/title-highlight-about.png);
    }

    @include breakpoint('medium') {
      max-width: 252px;
    }

    @include breakpoint('large') {
      max-width: 310px;
    }
  }

  &--subtitle {
    @extend %title-medium;
    max-width: 85%;
    color: get-color('theme', 'tertiary');

    @include breakpoint('medium') {
      width: 390px;
    }

    @include breakpoint('large') {
      margin-bottom: 0;
      max-width: 50%;
    }
  }

  &--desc {
    @extend %text-std;
    color: get-color('text', 'base-reversed');
    text-align: center;
    padding-left: $block-padder-larger;
    padding-right: $block-padder-larger;

    @include breakpoint('medium') {
      float: right;
      max-width: 70%;
    }

    @include breakpoint('large') {
      max-width: 50%;
      margin-top: (- $block-margin-before * 4);
    }
  }
}
