// -----------------------------------------------------------------------------
// Block app
// -----------------------------------------------------------------------------

$bg-color: get-color('block', 'base-reversed');

.block-app {
  @extend %strate-std;
  padding-bottom: ($block-padder-larger * 5);
  min-height: 650px;
  overflow: hidden;
  background: url(../images/backgrounds/04_FeelFood_6_ENTREPRISE_bloc3-app02--mobile.jpg) no-repeat center $bg-color;
  background-size: cover;
  
  @include breakpoint('medium') {
    background-image: url(../images/backgrounds/04_FeelFood_6_ENTREPRISE_bloc3-app2.jpg);
  }

  &--visual {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;

    &.back {
      margin-left: -50px;
      bottom: -70px;
      width: 190px;
      height: 190px;
      background: url(../images/backgrounds/mobileapp-02.png) no-repeat left;
      background-size: 100% auto;

      @include breakpoint('medium') {
        margin-left: 140px;
        bottom: 0;
        width: 220px;
        height: 220px;
      }

      @include breakpoint('large') {
        margin-left: 240px;
        bottom: 0;
        width: 330px;
        height: 330px;
      }
    }

    &.front {
      z-index: 2;
      bottom: -10px;
      margin-left: -150px;
      width: 320px;
      height: 210px;
      background: url(../images/backgrounds/mobileapp-01.png) no-repeat left;
      background-size: 100% auto;

      @include breakpoint('medium') {
        bottom: 0;
        margin-left: 0;
        width: 360px;
        height: 386px;
      }

      @include breakpoint('large') {
        bottom: 0;
        margin-left: 20px;
        width: 540px;
        height: 580px;
      }
    }
  }

  &--content {
    @extend %container;
    position: relative;
  }

  &--title,
  &--subtitle {
    padding-right: ($block-padder-medium * 1.5);
    padding-left: ($block-padder-medium * 1.5);

    @include breakpoint('medium') {
      padding-right: $block-padder;
      padding-left: $block-padder;
    }
  }

  &--title {
    @extend %title-highlight;
    max-width: 222px;
    color: get-color('text', 'base-reversed');

    @include breakpoint('medium') {
      max-width: 288px;
    }

    @include breakpoint('large') {
      max-width: 355px;
    }

    &::after {
      background-image: url(../images/backgrounds/title-highlight-app.png);
    }
  }

  &--subtitle {
    @extend %title-medium;
    width: 250px;
    color: #4c4c4c;

    @include breakpoint('medium') {
      width: 300px;
    }

    @include breakpoint('large') {
      width: 370px;
    }
  }

  &--action {
    @extend %icon_logo-reversed;
    @include pxtorem(10px, 14px);
    position: absolute;
    bottom: -30px;
    right: 50%;
    z-index: 3;
    margin-right: -120px;
    display: inline-block;
    padding: ($block-padder-smaller * 1.5) ($block-padder-medium * 1.5) ($block-padder-smaller * 1.5) ($block-padder-medium * 5);
    border-radius: 6px;
    color: get-color('text', 'base-reversed');
    background-color: get-color('block', 'base-strong');
    background-position: 12px center;

    &:hover {
      background-color: get-color('block', 'base-reversed');
    }

    @include breakpoint('medium') {
      top: 50%;
      right: 50%;
      bottom: auto;
      margin-top: -80px;
      margin-right: -180px;
    }

    @include breakpoint('large') {
      margin-right: -400px;
      margin-top: -160px;
    }

    strong {
      display: block;
      font-size: 1.1em;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
