// -----------------------------------------------------------------------------
// Block introduction
// -----------------------------------------------------------------------------

.block-introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 586px;
  background: url(../images/backgrounds/01_FeelFood_6_ENTREPRISE_homepa.jpg) no-repeat center/cover;

  @include breakpoint('medium') {
    height: 770px;
  }

  &--title {
    @extend %title-highlight;
    max-width: 200px;
    color: get-color('text', 'base-reversed');
    text-align: center;

    &::after {
      background-image: url(../images/backgrounds/title-highlight-introduction-entreprise.png);
    }

    @include breakpoint('medium') {
      max-width: 460px;
    }
  }
}
