// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------

.footer {
  @extend %clearfix;
  position: relative;
  padding: $block-padder 0 $block-padder $block-padder;
  box-sizing: border-box;

  @include breakpoint('medium') {
    padding: $block-padder-larger;
  }

  .site-logo,
  .site-main-menu {
    float: left;
  }

  .site-logo {
    margin-right: $block-margin-after;
    padding-top: 8px;

    @include breakpoint('medium') {
      padding-top: 15px;
    }
  }

  .site-main-menu {

    a {
      padding: $block-padder-medium $block-padder-smaller;

      @include breakpoint('medium') {
        @include pxtorem(11px, 16px);
        padding: $block-padder;
      }
    }
  }

  .site-secondary-menu {
    clear: left;

    @include breakpoint('medium') {
      clear: none;
      float: right;
    }
  }
}
