// -----------------------------------------------------------------------------
// Form contact
// -----------------------------------------------------------------------------

$name: "form-contact";

.#{$name} {

  padding: $block-padder;
  background-color: get-color('block', 'base-softest');

  $visualDecal: 80px;

  &--visual {
    position: relative;
    overflow: hidden;
    height: 160px;
    margin-top: -$visualDecal;
    transition: margin-top 200ms;

    .is-loading &,
    .is-success & {
      margin-top: 0;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      transform: translateX(-50%) translateY(-50%);
      width: 100%;
      min-width: 100%;
      min-height: 100%;
    }
  }

  &--title {
    @extend %title-medium;
    color: get-color('theme', 'primary');
  }

  &--desc {
    @extend %text-std;
    margin-bottom: $text-margin;
    color: get-color('text', 'soft');
  }

  .form-item {
    position: relative;
    float: left;
    width: 100%;

    @include breakpoint('medium') {
      left: -10px;
      padding-left: $block-padder-medium;
      width: 50%;

      &.form-type-radios {
        width: auto;
      }
    }
  }

  .form-radios .form-item {
    margin-right: $text-margin-smaller;

    &:last-child {
      margin-right: 0;
    }

    @include breakpoint('medium') {
      left: 0;
      margin-right: $text-margin;
      padding-left: 0;
      width: auto;
    }
  }

  .form-text,
  .form-textarea,
  .form-select {
    background-color: get-color('block', 'base');

    &::placeholder {
      color: get-color('text', 'softest');
    }
  }

  .form-text {
    box-sizing: border-box;
    width: 100%;
  }

  .form-type-radios {
    clear: both;
    float: none;
    width: auto;
    max-width: 590px;
  }

  .form-type-select,
  .form-type-radios {
    position: relative;
  }

  .form-type-select .option,
  .form-item.form-type-radios .form-type-radios-desc {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 100px;
    color: get-color('text', 'softest');

    @include breakpoint('medium') {
      margin-right: 120px;
    }
  }

  .form-type-select .form-select,
  .form-radios {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .form-item-radios {
    float: none;
    width: auto;

    .option {
      $height: 2em;

      display: inline-block;
      vertical-align: middle;
      padding: 0 5px 0 0;

      height: $height;

      color: get-color('text', 'soft');
      line-height: $height;
      opacity: .6;
    }

    .form-radio {
      $size: 18px;

      display: inline-block;
      vertical-align: middle;
      margin: 0;

      width: $size;
      height: $size;
    }
  }

  .form-type-select {
    $selectSize: 175px;

    .option {
      @extend %not-visually-hidden;
      padding: 20px 5px 20px 0;
      margin-right: $selectSize;
    }

    .form-select {
      width: $selectSize;
    }
  }

  .form-actions {
    clear: both;
    text-align: right;
  }

  &--messages {
    min-width: 300px;
    min-height: 240px;
  }

  &--success,
  &--loading {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: $visualDecal;
    top: 50%;
    transform: translateY(-50%);

    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

    .form-contact--title,
    .form-contact--desc,
    .form-contact--love {
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;
    }

    .form-contact--love {
      position: relative;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 30px;

      $borderColor: get-color('theme', 'primary');
      $backgroundColor: get-color('block', 'base-softest');
      $size1: 25px;
      $size2: 20px;

      .first {
        position: relative;
        z-index: 1;

        @include heart($size1, $borderColor);
      }

      .second {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 2;
        margin-top: -2px;

        .content {
          content: '\0020';
          @include heart($size2, $backgroundColor);
        }
      }
    }
  }

  &--loading .form-contact--desc {
    font-size:2em;
  }

  &--success,
  &--loading,
  .is-loading &--init,
  .is-success &--init {
    display: none;
  }

  .is-success &--success,
  .is-loading &--loading {
    display: block;
  }
}
