// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

// Block padding values
$block-padder-larger: 			40px;
$block-padder: 					20px;
$block-padder-medium:			10px;
$block-padder-smaller:			5px;

// Block margin values
$block-margin-before: 			20px;
$block-margin-after: 			20px;

// Text Styles margins
$text-margin-large:				24px;
$text-margin:					12px;
$text-margin-small:				6px;
$text-margin-smaller:			3px;

// Forms
$form-field-height:             60px;

$header-height: (
  'std': 78px,
  'medium': 100px,
  'large': 140px
)