// -----------------------------------------------------------------------------
// Font families
// use as variable or with @extend
// -----------------------------------------------------------------------------

$font-std: 'Roboto', Arial, sans-serif;
%font-std {
  font-family: $font-std;
}

$font-heading: 'Trade Gothic LT Com Bold', Lato, Arial, sans-serif;
%font-heading {
  font-family: $font-heading;
}


// -----------------------------------------------------------------------------
// Font sizes
// use with @extend
// -----------------------------------------------------------------------------

%font-size-std {
  @include pxtorem(11px, 16px);

  @include breakpoint('medium') {
    @include pxtorem(14px, 22px);
  }

  @include breakpoint('large') {
    @include pxtorem(15px, 24px);
  }
}

%font-size-medium {
  @include pxtorem(20px, 20px);

  @include breakpoint('medium') {
    @include pxtorem(24px, 24px);
  }

  @include breakpoint('large') {
    @include pxtorem(30px, 30px);
  }
}

%font-size-highlight {
  //@include pxtorem(40px, 35px);
  @include pxtorem(34px, 31px);

  @include breakpoint('medium') {
    //@include pxtorem(52px, 46px);
    @include pxtorem(43px, 39px);
  }

  @include breakpoint('large') {
    //@include pxtorem(66px, 60px);
    @include pxtorem(60px, 55px);
  }
}
